<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Configuraciones - Editar</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <p> Configuracion
        <%= data[0]['id']%>
    </p>
    <form action="/configuration/editRegister" method="POST">
        <input name="id" type="hidden" value="<%= data[0]['id']%>">
        <label for="max_temp">Maxima temperatura</label>
        <input name="max_temp" type="text" value="<%= data[0]['max_temperatura']%>">
        <label for="min_temp">Minima temperatura</label>
        <input name="min_temp" type="text" value="<%= data[0]['min_temperatura']%>">
        <label for="captura">Captura</label>
        <input name="captura" type="text" value="<%= data[0]['captura']%>">
        <input class="btn btn-primary" type="submit" value="Guardar">
    </form>
    <a href="/configuration">Salir</a>
</body>

</html>