<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Configuraciones - Camaras</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="contenedor">
        <div class="nav">
            <%- include ( "./../../partials/navegacion.ejs") %>
        </div>
        <div class="center-content">
            <div class="conteiner">
                <% typ.forEach(camara => {%>
                    <div class="camara">
                        <div class="title-camara">
                            <h2> Camara
                                <%= camara %>
                            </h2>
                            <div>
                                <a class="btn btn-primary" href="configuration/camara/<%= camara %>">Editar</a>
                            </div>
                        </div>
                        <div class="cards">
                            <% data.forEach(conf => {%>
                                <% if(conf['camara'] == camara) {%>
                                    <div class="card">
                                        <div class="header-card">
                                            <p>Termocupla <span> <%= conf['id'] %> </span></p>
                                        </div>
                                        <div class="body-card">
                                            <p>Maxima temperatura: <span> <%= conf['max_temperatura'] %> </span></p>
                                            <p>Minima temperatura: <span> <%= conf['min_temperatura'] %> </span></p>
                                        </div>
                                        <div class="footer-card ">
                                            <a class="btn btn-primary" href="configuration/<%= conf['id'] %>">Editar</a>
                                        </div>
                                    </div>
                                    <% } %>
                                        <% }) %>
                        </div>

                    </div>

                    <% }) %>
            </div>
        </div>

    </div>


</body>

</html>